:root {
    --main-bg-color: #f7f7f7;
    --main-black: #1a1a1a;

    --light-red: #ffefef;
    --middle-red: #ffd3d3;
    --red: #ff5e58;

    --gray: #828282;
    --light-gray: #b3b3b3;

    --light-skyblue: #e7f6f9;
    --middle-skyblue: #cfeef4;
    --bold-skyblue: #0faac8;

    --bold-purple: #8264ff;

    --border: 1px solid #b3b3b3;
}
