main.list-page {
    width: 800px;
    margin: 0px auto;
    margin-top: 30px;
}

.subtitle-box {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    /* padding-bottom: 15px; */
}

.subtitle-box h2 {
    font-size: 24px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}

.subtitle-box div {
    border-bottom: 2px solid var(--light-gray);
}

.subtitle-box div input {
    border: none;
    background-color: var(--main-bg-color);
    text-align: right;
    font-style: italic;
    height: 35px;
}

.newsLetter-box {
    background-color: white;
    width: 100%;
    height: 180px;
    margin: 30px 0px;
    display: flex;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.newsLetter-box:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.newsLetter-box img {
    width: 180px;
    height: 180px;
    background-color: lightblue;
}

.newsLetter-box .post-info {
    display: flex;
    justify-content: space-between;
    width: 620px;
    font-size: 14px;
    padding: 15px 20px;
}

.newsLetter-box .post-info div {
    margin-bottom: 15px;
}

.newsLetter-box .post-date {
    text-align: left;
}

.newsLetter-box .post-info .post-subject{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.newsLetter-box .post-info .post-subject span {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
    margin-right: 5px;

}

.newsLetter-box .post-info .post-subject span:first-child {
    color: var(--red);
}

.newsLetter-box .post-info .post-subject span:last-child {
    font-size: 16px;
    color: var(--gray);

}

.newsLetter-box .post-descript {
    text-indent: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.newsLetter-box button {
    width: 60px;
    height: 20px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: var(--bold-skyblue);
    background-color: var(--light-skyblue);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.newsLetter-box button:hover {
    background-color: var(--middle-skyblue);
}

/* Write BTN */
.write-btn {
    background-color: var(--main-black);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 400px;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.write-btn:hover {
    transform: translateY(-5px);
}

.write-btn .glyphicon {
    color: white;
    font-size: 20px;
}
