main {
    width: 800px;
    margin: 0px auto;
    margin-top: 30px;
}

.statistics-box {
    margin-bottom: 50px;
}

.subtitle-box h2 {
    font-size: 24px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 30px;
}

.statistics-box h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* statistics-box */

/* newsLetter-info */
.newsLetter-info {
    width: 100%;
    height: 180px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}

.newsLetter-info .newsLetter-info__column {
    display: flex;
    width: 50%;
}

.newsLetter-info .newsLetter-info__column .title_column {
    margin-right: 30px;
}

.newsLetter-info .newsLetter-info__column .title_column div {
    font-weight: 600;
}

.newsLetter-info .newsLetter-info__column div div {
    height: 38px;
}

/* email-sts */
.email-sts-box {
    display: flex;
    justify-content: space-between;
}

.email-sts-box .email-sts {
    width: 250px;
    height: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-sts-box .email-sts div:first-child {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.email-sts-box .email-sts div:last-child {
    font-size: 20px;
}

.email-sts.sent-success {
    color: var(--bold-skyblue);
}

.email-sts.open-avg {
    color: var(--bold-purple);
}

.email-sts.receive-deny {
    color: var(--red);
}

/* subscriber's preference */
.sub-preference {
    width: 100%;
    height: 300px;
    background-color: white;
}

/* newsLetter-sts */
.newsLetter-sts-box {
    display: flex;
    justify-content: space-between;
}

.newsLetter-sts {
    width: 380px;
}

.newsLetter-sts h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.newsLetter-sts .lists {
    height: 400px;
    background-color: white;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsLetter-sts .lists .list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsLetter-sts .lists .list .rank {
    width: 10%;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
}

.newsLetter-sts .lists .list .subject {
    width: 70%;
}

.newsLetter-sts .lists .list .open-count {
    width: 10%;
    color: var(--red);
}
