<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.test.portal4u.test.MemoDTO" alias="MemoDTO" />
        <typeAlias type="com.test.portal4u.member.MemberDTO" alias="MemberDTO" />
        <typeAlias type="com.test.portal4u.alliance.group.GroupDTO" alias="GroupDTO" />
        <typeAlias type="com.test.portal4u.alliance.channel.ChannelDTO" alias="ChannelDTO" />

        <typeAlias type="com.test.portal4u.NFT.NFTAdmin.ProdDTO" alias="ProdDTO"/>
        <typeAlias type="com.test.portal4u.NFT.NFTAdmin.NFTBoardDTO" alias="NFTBoardDTO"/>


        <typeAlias type="com.test.portal4u.newsletter.subscribe.SubscriberDTO" alias="SubscriberDTO"/>
        <typeAlias type="com.test.portal4u.newsletter.subscribe.PreperGenreDTO" alias="GenreDTO"/>


    </typeAliases>
   
</configuration>